body {
    padding: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }


canvas {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#img_brick{
    display: none;
}



#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border: 1px solid red*/
}

#start-button {
    font-size: 20px;
    background-color: #870007;
    color: #fff;
    padding: 10px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #continue-button {
    font-size: 20px;
    background-color: #000d87;
    color: #fff;
    padding: 10px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
  }


  
 .arrows-img {
    height: auto;
    width: auto;
    max-width: 200px; /*USE min-width and min-height TO INCREASE SIZE and max-width and max-height TO DECREASE SIZE;*/
    max-height: 200px
 }

 .arkaquiz-logo{
    height: auto;
    width: auto;
    max-width: 350px; /*USE min-width and min-height TO INCREASE SIZE and max-width and max-height TO DECREASE SIZE;*/
    max-height: 350px;
    padding: 10px;
 }

 /* .quiz-logo{
  display: none;
} */

 .game-intro {
     display: flex;
     flex-direction: column;
     align-content: space-around;
     align-items: center;
 }

 .game-intro p {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(113, 19, 126);
    font-weight: bold;
    border: 1px solid rgb(164, 80, 175);
    padding: 5px;
    border-radius: 5px;
  }

  .game-intro h2 {
    color: rgb(127, 18, 141);
    border: 2px solid rgb(127, 18, 141);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    
  }

/* #game-board {
  border: 1px dashed blue;
} */

  /* #canvas {
    display: none;
    border: 1px dotted green;
  } */

  #quiz-container {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    background-color: silver;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 #question {
   border: 2px solid yellow;
   margin-bottom: 20px;
   background-color:rgb(230, 230, 99);
   border-radius: 5px;
 }

 #wright-wrong{
   border: 2px solid green;
   margin-bottom: 20px;
   background-color: white;
 }


  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }



.hide{  
  display: none;
}
/*Are hidden by default  button id="next-btn" and div id="wright-wrong"*/

.btn {
  border: 2px solid yellow ;
  background-color: blue;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  /* outline: none; */
}

.btn:hover {
  border-color: black;
}

 .controls {
  display: flex;
  justify-content: center;/*center option to justify and align because only one of the buttons is going to appear each time*/
  align-items: center;
}


.start-btn, .next-btn {
  font-size: 1 rem;
  font-weight: bold;
  padding: 10px 20px;
}

#chosen-option{
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: white;
}

/* #back-arka{
  border-radius: 5px;
} */

